# Configuraciones de Django
SECRET_KEY=Macmini1968
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuraciones de base de datos
DB_ENGINE=django.db.backends.postgresql
DB_NAME=golf_cart_inspection
DB_USER=cvilla
DB_PASSWORD=C123
DB_HOST=localhost
DB_PORT=5432

# Variables de entorno para compilación
export LDFLAGS="-L/usr/local/opt/libpq/lib"
export CPPFLAGS="-I/usr/local/opt/libpq/include"
export PATH="/usr/local/opt/libpq/bin:$PATH"
