# Configuraciones de Django
DJANGO_SECRET_KEY=tu_clave_secreta_segura
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Configuraciones de base de datos
DB_ENGINE=django.db.backends.postgresql
DB_NAME=golf_cart_inspection
DB_USER=usuario_db
DB_PASSWORD=contraseña_db
DB_HOST=localhost
DB_PORT=5432
